
#tabla
   {
    background: #6CBDBB;   
     font-family: cursive ;
     background-image: -moz-radial-gradient(center 45deg,circle cover, #FFFFFF, #129C99);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#FFFFFF), to(#129C99));
  background-image: radial-gradient(center 45deg,circle cover, #FFFFFF, #129C99);
     
   }
   
#tablad
   {
    background: #393E4A;   
     font-family: cursive ;
      font-size:-3em;
      color: white;
   }
  

#submit {
    font-weight: bold;
    cursor: pointer;
    padding: 7px;
    margin: 0 10px 30px 0;
    border: 2px solid #7CF5F2;
    background: #393E4A;
    border-radius: 8px 8px 8px 8px;
     color: white;
}

#submit:hover {
    background: white;
    color: #393E4A;
}

#x1 
{
    width:50px;   
}
#y1
{
    width:50px;   
}
#n1
{
    width:50px;  
}
#x2
{
    width:50px;  
}
#y2
{
    width:50px;
}
#n2
{
    width:50px;  
}
#x3
{
    width:50px;
    
}
#y3
{
    width:50px;
    
}
#n3
{
    width:50px;
    
}
#fo
{
    width:50px;
    
}
#foj
{
    width:50px;
    
}